<div class="text-center contactContainer">
  <h1>
    Test-Consultec<br>Desarrollado por:
  </h1>
  <img width="20%" class="profilePic" alt="Juan Figueira" src="../../assets/images/profile-img.jpg">
  <br>
  <a href="https://facebook.com/JuanDFigueira" target="_blank"><img class="socialMediaIcon" alt="" src="../../assets/images/facebook.png"></a>
  <a href="https://instagram.com/JuanDFigueira" target="_blank"><img class="socialMediaIcon" alt="" src="../../assets/images/instagram.png"></a>
  <a href="https://www.linkedin.com/in/juan-figueira-8566b6125/" target="_blank"><img class="socialMediaIcon linkedin" alt="" src="../../assets/images/linkedin.png"></a>

</div>
