.contactContainer {
    padding-top: 20px;
}

.profilePic {
    border-radius: 50%;
    border: 3px solid darkcyan;
}

.socialMediaIcon {
    width: 50px;
    margin: 20px 10px;
    cursor: pointer;

    &.linkedin {
        border-radius: 5px;
    }
}
