<div class="createClientContainer row">
  <form class="col-md-6 offset-3">
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" id="inputName" [(ngModel)]="client.first_name" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el nombre">
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input type="text" class="form-control" id="inputLastName" [(ngModel)]="client.last_name" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el apellido">
    </div>
    <div class="form-group">
      <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="createClientSexRadio" [(ngModel)]="client.sex" [ngModelOptions]="{standalone: true}" id="inlineRadio1" value="M">
          <label class="form-check-label" for="inlineRadio1">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="createClientSexRadio" [(ngModel)]="client.sex" [ngModelOptions]="{standalone: true}" id="inlineRadio2" value="F">
          <label class="form-check-label" for="inlineRadio2">Femenino</label>
        </div>
    </div>
    <div class="form-group">
    <label>Cédula de identidad</label>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{client.id_type}}</button>
          <div class="dropdown-menu">
            <a class="dropdown-item id_type_drop" (click)="client.id_type = 'V'">Venezolano</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item id_type_drop" (click)="client.id_type = 'E'">Extranjero</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item id_type_drop" (click)="client.id_type = 'J'">Jurídico</a>
          </div>
        </div>
        <input type="number" class="form-control" id="inputID" [(ngModel)]="client.id" [ngModelOptions]="{standalone: true}" placeholder="Ingrese la cédula" aria-label="Text input with dropdown button">
      </div>
    </div>
    <div class="form-group">
      <label>Localidad</label>
      <input type="text" class="form-control" id="inputLastName" [(ngModel)]="client.locality" [ngModelOptions]="{standalone: true}" placeholder="Ingrese la localidad">
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" id="inputEmail" [(ngModel)]="client.email" [ngModelOptions]="{standalone: true}" placeholder="Ingrese el correo electrónico" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" email>
      <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu información privada.</small>
    </div>
    <div class="text-center">
      <button class="btn customBtn" (click)="checkInputs()">{{txtMode}} cliente</button>
    </div>
  </form>
  
</div>
